.hero-container {
    width: 60em;
    margin-left: auto;
    margin-right: auto;
    background-color: $DarkDesaturatedBlue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 2em;
    .hero-left {
        padding: 0px 3em;
        .hero-title, .hero-subtitle {
            margin: 1em 0px;
        }

        .hero-title {
            color: $White;
            font-family: $Inter;
        }

        .insights {
            color: $SoftViolet;
        }

        .hero-subtitle {
            color: $SlightlyTransparentWhite;
            font-family: $Inter;
            line-height: 1.5em;
        }

        .hero-stats {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $White;
            padding: 20px 0px;
            font-family: $Inter; 
            .hero-stat {
                margin-top: 15px;
                .hero-category {
                    margin-top: 5px;
                    color: $SlightlyTransparentWhiteS;
                    text-transform: uppercase;
                    font-size: 0.8em;
                    letter-spacing: 1px;
                    font-family: $LexendDeca;
                }
            }
        }
    }

    .hero-right {
        width: 100%;
        padding: 12em 0px;
        background-size: cover;
        background-image: linear-gradient(hsla(277, 64%, 61%, 0.4),hsla(277, 64%, 61%, 0.4)), url('../images/image-header-desktop.jpg');
        background-repeat: no-repeat;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
}

@media only screen and (max-width: 900px) {
    .hero-container {
        width: 22em;
        padding-bottom: 1em;
        flex-direction: column-reverse;
        text-align: center;

        .hero-right {
            padding: 8em 0px;
            background-image: linear-gradient(hsla(277, 64%, 61%, 0.4),hsla(277, 64%, 61%, 0.4)), url('../images/image-header-mobile.jpg');
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 0px;
        }
    
        .hero-stats {
            flex-direction: column;
            gap: 2.5em;
        }

    };
}